{% extends "base.html" %}

{% block extrahead %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
{% endblock %}

{% block footer %}
<footer class="footer-wrapper">
    <div class="md-footer-meta md-typeset">
        <div class="md-footer-meta__inner md-grid">
            <div class="footer-container">

                <!-- Logo Institucional -->
                <div class="footer-section">
                    <a href="https://www.ull.es/" target="_blank" rel="noopener">
                        <img src="{{ base_url }}/assets/images/logo.svg" alt="Logo ULL" class="logo-institucional">
                    </a>
                </div>

                <!-- Columna 1: Navegación -->
                <div class="footer-section">
                    <h4>Institucional</h4>
                    <ul class="footer-list">
                       <li>
                            <a href="https://www.ull.es/" target="_blank" rel="noopener">Universidad de La Laguna</a>
                        </li>
                        <li><a href="https://sede.ull.es/" target="_blank" rel="noopener">Sede Electrónica</a></li>
                        <li><a href="https://sede.ull.es/ecivilis-site/bulletinBoard" target="_blank" rel="noopener">Boletín Oficial</a></li>
                    </ul>
                </div>

                <!-- Columna 2: Soporte -->
                <div class="footer-section">
                    <h4>Contacto</h4>
                    <ul class="footer-list">
                        <li>
                            <a href="https://sites.google.com/ull.edu.es/soporte-vicpdi/contacto" target="_blank" rel="noopener">
                                Soporte Vicerrectorado PDI
                            </a>
                        </li>
                    </ul>
                </div>

                <!-- Columna 3: Legal (Separada) -->
                <div class="footer-section">
                    <h4>Legal</h4>
                    <ul class="footer-list">
                        <li><a href="https://www.ull.es/informacion-sobre-web-institucional/" target="_blank" rel="noopener">Aviso legal y Política de Cookies</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}